body {
  background-color: black;
}
#b1 {
  font-size: 50px;
  position: absolute;
  top:8%;
  left:1%;
  color:white;
  text-align: center;
  display: none;
}

#b2 {
  font-size: 50px;
  position: absolute;
  top:16%;
  left:1%;
  color:white;
  text-align: center;
  display: none;
}

#b3 {
  font-size: 50px;
  position: absolute;
  top:24%;
  left:1%;
  color:white;
  text-align: center;
  display: none;
}

a:link, a:visited{
  background-color: transparent;
  color: violet;
  padding: 14px 25px;
  font-size: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active {
  background-color: purple;
}
#c1 {
  display: none;
  position: absolute;
  top:65%;
  left:63%;
}


.fade-in1{
  animation: fadeIn 2s;
  opacity: 1;
}

.fade-in2{
  animation: fadeIn 2s;
  opacity: 1;
}

.fade-in3{
  animation: fadeIn 3s;
  opacity: 1;
}

.fade-in4{
  animation: fadeIn 3s;
  opacity: 1;
}

.fade-in5{
  animation: fadeIn 3s;
  opacity: 1;
}

@keyframes fadeIn {
  from {
  	opacity: 0;
  }
  to {
 	opacity: 1;
  }
}
