body {
  background-color: black;
}
/** {
cursor: none;
}*/
#video_background{
  position: absolute;
  width:100%;
  z-index: -1;
  opacity: 1.0;
  transition: all 2s;
  }

#b1 {
  font-size: 50px;
  position: absolute;
  top:4%;
  left:2.5%;
  color:white;
  text-align: center;
  display: none;
}
#b2 {
  font-size: 50px;
  position: absolute;
  top:14%;
  left:2.5%;
  color:white;
  text-align: center;
  display: none;
}
#b3 {
  font-size: 50px;
  position: absolute;
  top:24%;
  left:2.5%;
  color:white;
  text-align: center;
  display: none;
}
#b4 {
  font-size: 50px;
  position: absolute;
  top:34%;
  left:2.5%;
  color:white;
  text-align: center;
  display: none;
}
#b5 {
  font-size: 50px;
  position: absolute;
  top:44%;
  left:2.5%;
  color:white;
  text-align: center;
  display: none;
}
#b6 {
  font-size: 50px;
  position: absolute;
  top:54%;
  left:2.5%;
  color:white;
  text-align: center;
  display: none;
}

a:link, a:visited{
  background-color: transparent;
  color: violet;
  padding: 14px 25px;
  font-size: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active {
  background-color: purple;
}
#c1 {
  display: none;
  position: absolute;
  top:65%;
  left:30%;
}

#c2 {
  display: none;
  position: absolute;
  top:75%;
  left:30%;
}


.fade-in1{
  animation: fadeIn 3s;
  opacity: 1;
}

.fade-in2{
  animation: fadeIn 3s;
  opacity: 1;
}

.fade-in3{
  animation: fadeIn 3s;
  opacity: 1;
}

.fade-in4{
  animation: fadeIn 3s;
  opacity: 1;
}

.fade-in5{
  animation: fadeIn 3s;
  opacity: 1;
}

.fade-in6{
  animation: fadeIn 3s;
  opacity: 1;
}

.fade-in7{
  animation: fadeIn 3s;
  opacity: 1;
}

.fade-in8{
  animation: fadeIn 3s;
  opacity: 1;
}

@keyframes fadeIn {
  from {
  	opacity: 0;
  }
  to {
 	opacity: 1;
  }
}
